[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = "*"
pyhumps = "*"

[dev-packages]
black = "*"
bumpversion = "*"
isort = "*"
twine = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
